<div class="contenedor">

     
    <div class="p-d-flex">

        <button pButton type="button" label="Osti Katriel" class="menu p-button-lg"></button> 
        <div class="menu p-ml-auto">
            <button pButton pRipple type="button" label="Home" 
                class="p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Producto"
                class="p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Recetas"
                class="p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Nosotros"
                class="p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Contacto"
                class="p-button-text p-button-lg"></button>
        </div>

        <button pButton pRipple type="button" label="Osti Katriel" class="submenu p-button-outlined"></button> 
        <div class="submenu p-ml-auto">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-text"
            (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
        
    </div>
    <router-outlet></router-outlet>

   

</div>

<p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>