<!--<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">-->

<div class="contenedor">

    <div class="p-d-flex">

        <button pButton type="button" label="Osti Katriel" class="p-button-lg"></button>



        <!--<button pButton pRipple type="button" [icon]="mode" class="p-ml-auto p-button-help"
            (click)="changeStyle()"></button>-->


        <div class="menu p-ml-auto">
            <button pButton pRipple type="button" label="Primary" class="p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Secondary"
                class="p-button-secondary p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Success"
                class="p-button-success p-button-text p-button-lg"></button>
            <button pButton pRipple type="button" label="Info" class="p-button-info p-button-text p-button-lg"></button>
        </div>

        <div class="submenu p-ml-auto">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-text p-button-lg"></button>
            
        </div>
        
    </div>
    <router-outlet></router-outlet>

   

</div>

<p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>