
<router-outlet></router-outlet>

<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">


    <div class="p-d-flex p-p-3 card">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger"></button>
        <button pButton pRipple  type="button" icon="pi pi-search" class="p-ml-auto p-button-help"></button>
    </div>

    <button pButton pRipple type="button" label="Modo oscuro" class="p-d-block p-mx-auto" (click)="changeStyle()"></button>
    <br>
 
    <button pButton type="button" label="Osti Katriel" class="p-button-lg p-d-block p-mx-auto"></button>
    
    <img src="assets/images/icon1.svg" alt="" class="p-d-block p-mx-auto">

