
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box p-shadow-5">
            <p-panel header="¿QUÉ SOMOS?" [toggleable]="true" class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </p-panel>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box p-shadow-5">
        <p-panel header="¿QUÉ OFRECEMOS?" [toggleable]="true" class="panel-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>
        </p-panel>
    </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box p-shadow-5">
            <p-panel header="¿NUESTRO MERCADO?" [toggleable]="true" class="panel-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </p-panel>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box  p-shadow-5">
            <p-panel header="¿NUESTRO PRODUCTO?" [toggleable]="true" class="panel-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </p-panel>
        </div>
    </div>
</div>

<div class="p-shadow-10" style="padding: 15px;margin-top: 0.5%;text-align: justify;">
José Silverio Olaya Balandra 
(Chorrillos, 1782 o 1795 - Lima, 29 de junio de 1823), fue un mártir en la lucha por la
Independencia del Perú.
Pescador de oficio, se ofreció como emisario secreto entre el gobierno independiente refugiado
en los castillos del Callao y los patriotas de Lima, ciudad ocupada entonces por los realistas. Fue descubierto,
apresado y sometido a tormento para que revelara los nombres de los patriotas implicados en las misivas, pero permaneció
callado. Fue fusilado y antes torturado en un pasaje que hoy lleva su nombre, y que se halla en las inmediaciones de la
Plaza Mayor de Lima.

</div>

<br>